/* This are HTML tags section */
body{
    margin: 0;
    background-color: #eaf6f6;
    padding-left: 0;
}
h1{
    font-size: 50px;
    margin-top: 10px;
}
h2{
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 50px;
   padding-top: 30px;
}
h3{
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 10px;
}
h4{
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}
h5{
    margin-bottom: 0px;
}
p{
    color: dimgray;
    margin-top: 0px;
    margin-bottom: 40px;
}
section{
    height: 500px;
}
/* This are class section */
.bottom-banner{
    width: 100%;
    background-image: url(images/footer-bg.png);
    padding-top: 30px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
}
.button-link{
    text-decoration: none;
    background-color: purple;
    background-image: linear-gradient(45deg,purple,rgb(214, 86, 214));
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(24, 15, 15);
    font-weight: 700;
}
.button-link2{
    text-decoration: none;
    border-radius: 1em;
    box-sizing:inherit;
    width: 25%;
    margin:0 auto 12%;
    background-color: rgb(196, 71, 148);
    padding: 10px 20px;
    color: rgb(24, 15, 15);
    font-weight: 700;
    padding-right: 0%;
    text-align: center;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    height: 1px;
}
.half-width2{
    width: 100%;
    margin:50px auto 0;
}
.half-width img{
    width: 100%;
}
.half-width2 img{
    width: 100%;
    padding: 7px;
}
.letest-work{
    background-image: url(images/latest-work-bg.png);
    padding: 50px 250px 0px;
}
.mid-banner{
    padding:250px;
    padding-top: 50px;
     background-image: url(images/biography-bg.png);
}
.purple-highlight{
    color: purple;
}
.top-banner{
    padding:220px;
    background-image: url(images/header-bg.png);
}
.work-img-1{
    display: inline-block;
    width: 31%;
    height: 60px;
}
.work-img-2{
    display: inline-block;
    width: 31%;
    height: 60px;
}
.work-img-3{
    display: inline-block;
    width: 31%;
    height: 60px;
}
.work-center{
    text-align: center;


}
/*     margin:  16px;
 */